.faculty-page {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.dean-info {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: wrap;
}

.dean-photo {
    width: 300px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    border: 3px solid #ccc;
}

.dean-details h2 {
  margin: 0;
  font-size: 24px;
  color: #333;
}

.dean-details h4 {
  margin: 5px 0;
  color: #666;
}

.dean-details p {
  color: #444;
  line-height: 1.6;
}

.view-profile-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.view-profile-button:hover {
  background-color: #0056b3;
}

.faculty-list-section h3 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #e91d41;
  text-align: center;
  font-size: 35px;
}

.faculty-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.faculty-box {
  width: 220px;
  text-align: center;
  background-color: #f0f4ff;
  border-radius: 8px;
  overflow: hidden;
  text-decoration: none;
  color: #222;
  font-weight: bold;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  transition: transform 0.2s, background-color 0.3s;
}

.faculty-box img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-bottom: 4px solid #007BFF;
}

.faculty-box span {
  display: block;
  padding: 12px 10px;
  font-size: 16px;
}

.faculty-box:hover {
  background-color: #e4ecff;
  transform: translateY(-3px);
}
